.page {
    &-contact {
        .section-hero-summary {
            padding: 111px 0 130px;
        }
    }
}

.technhis {
    &-row {
        margin-left: 14px;
        margin-right: 14px;
        margin-bottom: 42px;
    }

    &-col {
        padding: 10px 14px;
    }

    &-card {
        img {
            width: 78px;
            margin-bottom: 77px;
        }
    }

    &-spacer {
        padding: 77px 0;
    }

    @media (min-width: 991px) {
        .section-head {
            margin-bottom: 77px;

            &-mlg {
                margin-bottom: 180px;
            }

            &-mxl {
                margin-bottom: 207px;
            }
        }
    }
}

.wclass {
    .section-head {
        margin-bottom: 100px;
    }

    &-table {
        &-row {
            align-items: center;
        }

        &-head {
            text-align: center;
            border: 2px dotted $color-black;
            border-width: 2px 0;
        }

        &-head &-row {
            padding: 28px 20px;
        }

        &-body &-row {
            padding: 0 20px;
        }

        &-body &-row:not(:last-child) {
            border-bottom: 2px dotted $color-black;
        }

        &-col {
            padding: 45px 15px 36px;

            &-mid {
                @include margin-auto;
            }

            &-aft {
                margin-left: auto;
            }
        }

        &-head &-col {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.courselist {
    &-col {
        padding: 10px 12px;
    }

    &-link {
        margin-top: 80px;
    }

    @media (min-width: 991px) {
        &-link {
            margin-top: 180px;
        }

    }
}

.filter {
    &-head {
        font-family: $font-1;
        font-size: 17px;
        letter-spacing: 1.19px;
        line-height: 30px;
        position: relative;
        margin-bottom: 81px;
        padding-bottom: 38px;
        border-bottom: 2px solid $color-black;
    }

    &-list {
        padding-left: 0;
        margin-bottom: 0;

        li {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 45px;
            }

            span {
                color: $color-blur;
                display: inline-block;
                margin-left: 16px;
            }
        }
    }

    &-btn {
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
        border: 0;
    }
}

.teachers {
    &-col {
        padding: 15px;
    }

    &-card {
        padding: 21px 36px 65px 55px;
        background-color: #fff;
        border-radius: 10px;
        height: 100%;
        transition: all .2s ease-in;

        &:hover {
            box-shadow: 0 3px 6px rgba(#000, .16);
        }

        &-link {
            display: block;

            &:hover {
                color: $color-black;
            }
        }

        &-img {
            width: 470px;
            max-width: 100%;
            height: 470px;
            margin-bottom: 19px;
            @include margin-auto;
            text-align: center;
            cursor: pointer;

            img {
                @include imgfit;
            }
        }

        &-cont {
            display: flex;
            flex-wrap: wrap;
        }

        &-main {
            // flex: 0 0 auto;
            padding-right: 43px;

            .heading {
                position: relative;
                margin-bottom: 0;
                // overflow: hidden;
                // white-space: nowrap;
                // text-overflow: ellipsis;

                &-block {
                    margin-bottom: 35px;
                }
            }

            .link-common {
                display: inline-block;
                margin-top: 45px;
            }
        }

        &-side {
            // flex: 0 0 211px;
            margin-top: 64px;
        }

        &-boxes {
            margin-top: 33px;
        }

        &-box {
            padding: 14px 16px 18px 13px;
            border: 1px solid $color-main;
            border-radius: 10px;

            &:not(:last-child) {
                margin-bottom: 18px;
            }
        }
    }

    .brush-text {
        margin-top: 165px;
    }



    @media (min-width: 992px) {
        &-card {
            &-cont {
                flex-wrap: nowrap;
            }

            &-main {
                flex: 0 0 calc(100% - 211px);
                max-width: calc(100% - 211px);
            }

            &-side {
                flex: 0 0 211px;
                max-width: 211px;
            }
        }
    }

    @media (max-width: 767px) {
        &-card {
            padding: 10px;

            &-img {
                width: 250px;
                height: 250px;
            }
        }

        .brush-text {
            margin-top: 20px;
            padding-bottom: 180px;

            &-title {
                font-size: 20px;
            }

            &-img {
                width: 320px;
                max-width: 100%;
                right: 0;
            }
        }
    }
}

.teacher-modal {
    &-img {
        text-align: center;

        img {
            max-width: 100%;
        }
    }

    &-head {
        position: relative;
        padding: 0 30px 37px;

        .link-common {
            @include absoltopcenter;
            right: 20px;
            text-align: center;
        }
    }

    &-story {
        padding: 38px 33px 40px;
        border: 2px dotted $color-black;
        border-width: 2px 0;

        .heading-block {
            margin-bottom: 38px;
        }

        p {
            margin-bottom: 25px;
        }
    }

    &-cv {
        padding: 39px 34px 72px;

        .heading-block {
            margin-bottom: 32px;
        }

        &-row {
            margin-top: 47px;
            margin-left: -10px;
            margin-right: -10px;
        }

        &-col {
            padding: 10px;
        }

        &-box {
            .heading-block {
                margin-bottom: 47px;
            }
        }

        &-table {
            width: 100%;
            padding-left: 0;
            margin-bottom: 47px;
            list-style-type: none;

            tr {
                font-family: $font-1;
                font-size: 17px;
                letter-spacing: 1.19px;
                line-height: 30px;
            }

            td {
                padding-right: 20px;

                &:first-child {
                    vertical-align: top;
                    white-space: nowrap;
                }
            }

            p {}
        }
    }

    &-link {
        text-align: center;
        margin-bottom: 86px;

        .link-common {
            display: inline-block;
            text-align: center;

            &::after {
                width: 100%;
            }

            &:not(:last-child) {
                margin-right: 71px;
            }
        }
    }
}

.community {
    &-col {
        padding: 12.5px 11.5px;
    }
}

.profile {
    &-card {
        background-color: #fff;
        border: 1px solid #DEDEDE;
        border-radius: 10px;

        &-img {
            width: 100%;
            height: 335px;

            img {
                @include imgfit;
            }
        }

        &-text {
            padding: 0 35px 37px;

        }

        &-user {
            &-img {
                width: 114px;
                height: 114px;
                border-radius: 50%;
                overflow: hidden;
                margin-top: -57px;
                margin-bottom: 18px;

                img {
                    @include imgfit;
                }
            }

            &-name {
                font-family: $font-4;
                font-size: 17px;
                letter-spacing: 1.19px;
                line-height: 20px;
                margin-bottom: 6px;
            }

            &-type {
                font-family: $font-1;
                font-size: 17px;
                letter-spacing: 1.19px;
                line-height: 30px;
                margin-bottom: 27px;
            }

            &-follow {
                display: flex;
                align-items: center;

                &-btn {
                    font-family: $font-1;
                    font-size: 17px;
                    letter-spacing: 1.19px;
                    line-height: 30px;
                    width: 128px;
                    height: 50px;
                    color: $color-black;
                    background-color: #F3F3F4;
                    border: 0;
                    border-radius: 10px;
                    transition: all .2s ease-in;
                    cursor: pointer;

                    &:hover {
                        background-color: $color-main;
                    }

                    img {
                        width: 16px;
                        height: 16px;
                        margin-right: 17px;
                    }
                }

                &-num {
                    font-family: $font-1;
                    font-size: 17px;
                    letter-spacing: 1.19px;
                    line-height: 30px;
                    margin-left: auto;
                }
            }
        }
    }
}

.profileinfo {
    &-col {
        padding: 10px 15px;
    }

    &-card {
        position: relative;
        width: 100%;
        height: 382px;
        border-radius: 10px;
        overflow: hidden;

        &-img {
            z-index: 0;
            @include absoldefault;

            img {
                @include imgfit
            }
        }

        &-btns {
            z-index: 1;
            position: absolute;
            bottom: 26px;
            right: 28px;
        }

        &-view {
            position: absolute;
            top: 26px;
            right: 28px;
            transition: all .2s ease-in;
        }

        &:hover &-view {
            opacity: 1;
        }

        &-btn {
            width: 43px;
            height: 43px;
            background-color: #F3F3F4;
            border: 0;
            border-radius: 10px;
            outline: none;
            cursor: pointer;

            &:not(:last-child) {
                margin-right: 12px;
            }

            &:hover,
            &:focus {
                outline: none;
            }

            &-heart {
                background-color: $color-main;
            }
        }
    }

    @media (min-width: 992px) {
        &-card {
            &-view {
                opacity: 0;
            }

            &:hover &-view {
                opacity: 1;
            }
        }
    }
}

.profile-modal {
    &-head {
        padding: 27px 34px 65px;
    }

    &-user {
        display: flex;
        align-items: center;

        &-img {
            width: 65px;
            height: 65px;
            margin-right: 30px;
            border-radius: 50%;
            overflow: hidden;

            img {
                @include imgfit;
            }
        }

        &-cont {
            p {
                font-family: $font-4;
                letter-spacing: 1.19px;
                line-height: 20px;
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &-btn {
        padding: 13px 24px 15px 16px;

        &:not(:last-child) {
            margin-right: 12px;
        }

        &-save:hover {
            color: $color-black;
            background-color: $color-main;
        }

        &-like:hover {
            color: #fff;
            background-color: $color-black;
        }
    }

    &-hero {
        padding: 0 35px;

        &-preview {
            margin-bottom: 33px;

            &-slider {
                .slick {

                    &-prev,
                    &-next {
                        z-index: 1;
                        width: 28px;
                        height: 28px;

                        &::before {
                            display: none;
                        }

                        svg {
                            width: 100%;
                        }
                    }

                    &-prev {
                        left: 54px;
                    }

                    &-next {
                        right: 54px;
                    }

                    &-disabled {
                        opacity: .4;

                        svg path {
                            fill: #fff;
                        }
                    }
                }
            }

            &-img {
                width: 100%;
                height: 466px;
                border-radius: 10px;

                img {
                    @include imgfit;
                }
            }
        }

        &-collec {
            width: 100%;
            max-width: 536px;
            margin-bottom: 30px;
            @include margin-auto;

            .item {
                padding: 0 12.5px;
                outline: none;
                overflow: hidden;

                &:hover,
                &:focus {
                    outline: none;
                    border: 0;
                }
            }

            &-img {
                cursor: pointer;
                height: 124px;
                border-radius: 10px;
                text-align: center;

                img {
                    @include imgfit;
                }
            }
        }
    }

    &-body {
        display: flex;
        flex-wrap: wrap;
        padding: 33px 68px 130px 35px;
    }

    &-desc {
        flex: 0 0 626px;
    }

    &-cont {
        padding-bottom: 32px;
        margin-bottom: 28px;
        border-bottom: 1px solid $color-blur;
    }

    &-comments {
        &-num {
            margin-bottom: 34px;
        }

        &-boxes {}

        &-box {
            display: flex;

            &:not(:last-child) {
                margin-bottom: 34px;
            }

            &-img {
                width: 42px;
                height: 42px;
                margin-right: 38px;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }

            &-text {
                h3 {
                    font-family: $font-4;
                    font-size: 17px;
                    font-weight: 400;
                    letter-spacing: 1.19px;
                    line-height: 20px;
                    margin-bottom: 11px;
                }

                p {
                    font-family: $font-1;
                    font-size: 17px;
                    letter-spacing: 1.19px;
                    line-height: 30px;
                    margin-bottom: 0;
                }

                span {
                    font-family: $font-1;
                    font-size: 17px;
                    left: 1.19px;
                    line-height: 30px;
                    color: $color-blur;
                }
            }
        }
    }

    &-details {
        flex: 0 0 161px;
        margin-left: auto;


        &-box {
            h3 {
                font-family: $font-1;
                font-size: 20px;
                letter-spacing: 1.4px;
                line-height: 30px;
            }

            span {
                font-family: $font-1;
                font-size: 17px;
                letter-spacing: 1.19px;
                line-height: 30px;
                display: block;

            }

            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }

    }

    @media (min-width: 992px) {
        &-head {
            padding-right: 80px;
        }
    }
}

.contact {
    &-info {
        margin-bottom: 61px;

        span {
            font-family: $font-2;
            font-size: 30px;
            letter-spacing: 1.5px;
            line-height: 45px;
            display: block;
        }

        &-img {
            width: 100%;
            height: 391px;
            overflow: hidden;
            margin-bottom: 86px;

            img {
                @include imgfit;
            }
        }

        &-notice {
            position: relative;
            padding-bottom: 20px;

            h3 {
                color: $color-main;
                font-family: $font-3;
                font-size: 45px;
                font-weight: 400;
                letter-spacing: 2.25px;
                line-height: 55px;
                width: 100%;
                max-width: 474px;
            }

            span {
                position: absolute;
                bottom: 0;
                right: 0;
                font-family: $font-1;
                font-size: 17px;
                letter-spacing: 1.19px;
                line-height: 30px;

                img {
                    width: 18px;
                    margin-left: 19px;
                }
            }
        }
    }

    &-form {
        .form-group {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 37px;

            label {
                font-family: $font-3;
                font-size: 17px;
                letter-spacing: .85px;
                line-height: 30px;
                display: block;
                margin-bottom: 16px;
                flex: 0 0 100%;
            }

            input,
            textarea {
                flex: 0 0 100%;
                font-size: 17px;
                letter-spacing: 1.19px;
                line-height: 30px;
                border-radius: 10px;
                padding: 5px 20px;
            }

            input {
                height: 53px;
            }

            input[type="text"] {
                flex: 0 0 calc(50% - 8px);

                &:last-child {
                    margin-left: auto;
                }
            }

            textarea {
                height: 376px;
            }
        }

        button[type="submit"] {
            color: #fff;
            background-color: $color-main;
            padding: 13px 25px 15px 18px;
            border: 0;
            border-radius: 10px;
            outline: none;
            cursor: pointer;
            transition: all .2s ease-in;

            &:hover,
            &:focus {
                outline: none;
            }

            &:hover {
                background-color: darken($color-main, 5%);
            }

            img {
                width: 10px;
                margin-left: 37px;
            }
        }
    }

    @media (min-width: 992px) {
        &-col {
            &:first-child {
                max-width: 600px;
            }

            &:last-child {
                max-width: 726px;
                margin-left: auto;
            }
        }
    }
}